*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Times New Roman', Times, serif;
   scroll-behavior: smooth;

}
.row {
    margin-left: -36px;
    margin-right: -36px;

}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col {
    float: left;
    padding: 12px 24px;
    
}

.col-half {
    width: 50%;
}
:root{
    --color-hover:#ccc;
    --color-text:#a5a2a2;
}
.letter-spacing{
    letter-spacing: 4px;
}
.mt-16{
    margin-top: 16px;
}
.mt-8{
    margin-top: 8px;
}
.mb-16 {
    margin-bottom: 16px;
}

#app {

}

#nav{
    height: 54px;
    background-color: #fff !important;
    letter-spacing: 4px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    padding: 0 16px;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    
}

#nav  a{
    line-height: 54px;
    text-decoration: none;
    font-size: 1.5em;
    padding: 11px 16px;
    color: #000;
}
#nav a:hover,
.contact .submit-form:hover{
    background-color: var(--color-hover);
    cursor: pointer;
}
#nav .nav-right {
    float: right;
    
}
.nav-mobile{
    display: none;
    height: 54px;
    background-color: #fff !important;
    letter-spacing: 4px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
   
}
.nav-mobile li{
    list-style: none;
}
.nav-mobile li a{
    text-decoration: none;
    padding: 16px;
    display: block;
    font-size: 20px;
    color: #000;
}
.nav-mobile .menu-icon-mobile{
   padding: 0 23px;
   position: absolute;
    right: 0;
    top: 0
}
.nav-mobile .menu-icon{
    line-height: 54px;
    font-size: 20px;
}
.header {
    
    position: relative;
    
   
}
.header img{
    width: 100%;
}
.header .image-info{
    
    position: absolute;
    bottom: 0;
    padding: 32px 24px;
    font-size: 2em;
    color: var(--color-text)
}
.header h1{
    font-weight: 400;
}

#content {
    
   
   
}
hr {
    width: 1024px;
    max-width: 100%;
    margin: 20px 0;
    margin-left: auto;
    margin-right: auto;
    border-top: 0.5px solid var(--color-hover);
    
}


#content .content-section {
   width: 1024px;
   max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
}

#content .img-about {
    width: 100%;
    border-radius: 5px;
}
#content .heading-text {
    padding: 6px 0;
    font-weight: 400;
    text-align: center;
    
}
#content .fz-text-heading{
    font-size: 36px;
    font-weight: 400;
}
.about .info-about {
    text-align: center;
    font-size: 1.8em;
    
    
}

.about .content-about {
    text-align: left;
    line-height: 1.5;
}
.about span{
    background-color: var(--color-hover);
    padding: 6px
}
.about .sub-content-about {
    color: var(--color-text);
    text-align: left;
    line-height: 1.5;
    
}

.menu h3,
.contact h3{
    font-weight: 400;
    font-size: 20px;
}
.menu p{
    font-size: 15px;
    color: var(--color-text);

}
.contact {
    padding: 12px 24px;
}
.contact h3{
    color: #607d8b;
}
.contact p{
    font-size: 15px;
    line-height: 1.5;
}


.contact .form-control {
    width: 100%;
    padding: 16px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.contact .submit-form {
    font-size: 15px;
    background-color: #f1f1f1;
    font-family: 'Times New Roman', Times, serif;
    padding: 8px 16px;
    border: none;
}



#footer {
    
    background-color: #f1f1f1;
    font-size: 15px;
    padding: 64px 0;
    text-align: center;
    

}
#footer a{
    color: #000;
}
#footer a:hover{
    color: green;
}
